<article class="card mb-6">
  <div class="card-title row text-light">
    <h3 class="card-header bg-danger col-8 "><a class="text-white" href="/animal/{{id}}">{{name}}</a></h3>
    <div class="card-header bg-danger col"><img src="{{photo}}" alt="{{description}}">
  </div>
</div>
  <div class="card-body">
    <p class="card-text">{{description}}</p>
  </div>
</article>