<article class="card">
  <div class="card-title row text-light">
    <h3 class="card-header bg-danger"><a class="text-white" href="/animal/{{id}}">{{name}}</a></h3>
    <div class="card-header bg-danger"><img src="{{photo}}" alt="{{description}}">
  </div>
</div>
  <div class="card-body">
    <p class="card-text">{{description}}</p>
  </div>
</article>