<div class="card-header">
<h1 class="card-title">
    <a href="/animal/{{id}}">{{name}}</a>
</h1>
</div>
<div class="card-body">
<img src="{{photo}}" alt="{{description}}">
<p>
    {{description}}
</p>
</div>